header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: rgba(0, 48, 130, .8);
  box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
}

input {
  font-size: 1.25rem;
  width: 100%;
}

section {
  justify-content: space-between;
}

main {
  display: flex;
}

aside {
  width: 50%;
}

aside > section {
  position: fixed;
}

article {
  width: 50%;
  display: flex;
  flex-direction: column;
}

ul > li > article {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

mark {
  cursor: pointer;
}
