#root {
  min-height: 100vh;
  background-color: #e6e6e9;
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: 1fr 4fr 3fr 3fr 1fr;
  grid-template-rows: 3em 20em 1fr 2em;
  font-family: 'Open Sans', sans-serif;
}

/* header */
header {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  display: grid;
  background-color: white;
  -webkit-box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
  box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
  grid-template-columns: inherit;
}

header > nav {
  grid-column: 2 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > a {
  color: #003082;
  display: flex;
}

header > nav > a > svg {
  width: 52px;
  height: 25px;
}

/* /header */

/* main */
main {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-row-gap: 1em;
}

#root > section {
  background-image: url('./../assets/15857065009_13e10e0e8d_b.png');
  background-size: cover;
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  background-position: 0% 10%;
  display: grid;
  align-items: center;
  grid-template-columns: inherit;
}

#root > section > div {
  grid-column: 2 / 3;
  padding: 1em;
  background-color: rgba(0, 48, 130, 0.8);
  color: white;
}

#root > section > div > h3 {
  grid-column: 2 / 3;
  color: white;
}

#root > section > h2 {
  grid-column: 2 / 3;
  color: white;
  font-weight: 500;
}

#root > section > div > a {
  color: white;
}

#root > section > div > h1 {
  font-size: 3em;
  font-weight: 500;
  color: white;
}

main > section:first-of-type > ul {
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-column: 1 / 3;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  display: grid;
}

main > section:first-of-type > ul > li {
  background: white;
  box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
  padding: 2em;
}

main > section:first-of-type > ul > li > ul > li {
  display: flex;
  align-items: center;
}

main > section:first-of-type > ul > li > ul > li::before {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 2.1875rem;
  height: 2.1875rem;
  pointer-events: none;
  transition: width 0.1s ease-out;
  content: '';
  top: -0.3125rem;
  left: -0.6875rem;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2235px%22%20height%3D%2235px%22%20viewBox%3D%220%200%2035%2035%22%20enable-background%3D%22new%200%200%2035%2035%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cpolygon%20points%3D%2219.3%2C17.5%2015.3%2C21.5%2016.7%2C21.5%2020.7%2C17.5%2016.7%2C13.5%2015.3%2C13.5%20%20%22%2F%3E%3C%2Fg%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%230079d3%3B%20%7D%3C%2Fstyle%3E%3C%2Fsvg%3E');
}

main > section:first-of-type > ul > li > ul > li:hover::before {
  width: 3em;
  height: 2.1875rem;
}

main > section {
  grid-column: 1 / 3;
}

main > section:last-of-type {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  /*grid-template-columns: 24em 24em;*/
  display: grid;
}

main > section:last-of-type > h2 {
  margin: 0 0 0.5em 0;
}

main > section:last-of-type > div {
  margin: 0 0 1em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main > section:last-of-type > div > span: {
  flex-shrink: 0;
}

main > section:last-of-type > div > label:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

main > section:last-of-type > div > label > select {
  margin-left: 0.5em;
  border-radius: 0;
  background: white;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  border: 1px solid lightgrey;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2235px%22%20height%3D%2235px%22%20viewBox%3D%220%200%2035%2035%22%20enable-background%3D%22new%200%200%2035%2035%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%20%3Cg%3E%20%20%3Cpolygon%20points%3D%2217.5%2C20.3%2012%2C14.8%2012%2C16.2%2017.5%2C21.7%2023%2C16.2%2023%2C14.8%20%20%20%22%2F%3E%20%3C%2Fg%3E%3C%2Fg%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23003082%3B%20%7D%3C%2Fstyle%3E%3C%2Fsvg%3E');
  padding: 1em 3em 1em 1em;
  color: #003082;
  background-position: 100%;
}

main > section:last-of-type > ul {
  grid-template-columns: inherit;
  grid-column: 1 / 3;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  display: grid;
}

main > section:last-of-type > ul > li {
  max-width: 40em;
  background: white;
  overflow: hidden;
  box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
  padding: 2em;
}

main > section:last-of-type > ul > li footer {
  display: flex;
  justify-content: space-between;
}

main > section:last-of-type > ul > li > article > footer span {
  transition: font-size 0.1s;
}

main
  > section:last-of-type
  > ul
  > li
  > article
  > footer
  span[data-being-read='true']::before {
  content: '\1F913 ';
}

main
  > section:last-of-type
  > ul
  > li
  > article
  > footer
  span[data-being-annotated='true']::after {
  content: ' \270D';
}

main > section:last-of-type > ul > li[data-visible='true'] {
  opacity: 1;
  transition: opacity 1s;
}

main > section:last-of-type > ul > li[data-visible='false'] {
  opacity: 0;
  transition: opacity 1s;
}

main > ul {
  list-style: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main > ul > section {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* /main */

/* aside */
aside {
  background-color: rgba(255, 255, 255, 0.9);
  border-left: 1px solid #003082;
  display: grid;
  grid-row: 3 / 4;
  grid-column: 4 / 5;
  grid-template-rows: 3em 2em auto;
  grid-template-columns: 1em auto 1em;
}

aside[data-comments] {
  display: grid;
}

main[twocol] > section {
  grid-column: 1 / 2;
  background-color: white;
  padding: 2em;
}

aside > section:first-of-type {
  display: grid;
  align-items: flex-end;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

aside > section:last-of-type {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

aside > section[data-close] {
  display: none;
}

aside > section[data-goback] {
  display: grid;
}

aside > section > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

aside > section > ul > li {
  list-style: none;
  border-bottom: 0.0625rem solid #e6e6e9;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

aside > section > ul > li > a {
  font-size: 0.8125em;
}

aside > section form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

aside > section > ul > li > article > div {
  display: flex;
  justify-content: space-between;
}

aside > section > ul > li:first-of-type > article > a > h3 {
  margin-top: 0.3em;
}

aside > section > ul > li > ul > li {
  font-size: 0.8125em;
  margin-left: 1em;
}

aside > section > form > * {
  grid-column: 2/3;
}

aside > form {
  grid-column: 2/3;
  display: flex;
}

/* /aside */

/* form */

main > section > form {
  background-color: white;
  display: flex;
  padding: 1em;
  background-color: #ffc917;
  flex-direction: column;
  justify-content: space-between;
}

main > section > form > fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

main > section > form > fieldset > * {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

main > section > form > fieldset > span {
  color: red;
}

main > section > form > span {
  display: flex;
  justify-content: space-between;
}

main > section > form > fieldset > legend {
  font-size: 2em;
}

main > section > form > fieldset input {
  font-size: 1em;
  width: 100%;
  height: 2.8125em;
  padding: 11px 15px 9px 15px;
  display: grid;
  grid-column: 2/3;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

input[type='submit'] {
  background-color: #0079d3;
  border: 0;
  color: #fff;
  /*box-shadow: inset 0 -0.125rem 0 #005ca0;*/
  margin-top: 10px;
  padding: 0.625rem 1.125rem;
  transition: box-shadow 0.15s;
}
input[type='submit']:hover {
  color: #fff;
  background-color: #005ca0;
  box-shadow: inset 0 3.125rem 0 #005ca0;
}

input[disabled] {
  background-color: grey;
}

input[disabled]:hover {
  background-color: grey;
  box-shadow: inset 0 3.125rem 0 grey;
}

section > form > span > a {
  border-bottom: 2px solid rgba(7, 7, 33, 0.1);
  padding-bottom: 9px;
}

section > form > span > a:hover {
  border-bottom: 2px solid #0079d3;
}

aside textarea {
  resize: none;
  background-color: #fff;
  color: #070721;
  height: 2.8125rem;
  line-height: 1.5625rem;
  border: 0.0625rem solid #b5b5bc;
  border-radius: 0;
}
/* /form */

/* typography */

h1,
h2,
h3,
h4,
h5,
h6,
legend,
label,
input,
a:hover {
  font-weight: 100;
  padding: 0;
  color: #003082;
}

a,
a:visited > h3 {
  font-weight: 100;
  color: #0072d6;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 2.375em;
}

blockquote {
  margin: 0 1.25em 1.25em;
}

a {
  text-decoration: none;
}

main > section > article > p {
  line-height: 2em;
  max-width: 35em;
}

mark {
  background-color: white;
  padding: 0.2em 0;
  cursor: pointer;
}

mark[comment] {
  color: #0079d3;
}

mark[selected] {
  background-color: #dddddd;
  color: #0079d3;
}

mark[selected]:hover {
  background-color: #dddddd;
  color: #000000;
}

mark[comment]:hover {
  color: white;
}

mark:hover {
  background-color: #0079d3;
}

/* /typography */

@media (max-width: 40em) {
  #root {
    min-height: 0px;
    display: grid;
    grid-template-rows: 3em 15em 1fr;
    grid-template-columns: 0.4375rem 2em auto 2em 0.4375rem;
  }

  #root > section {
    height: 15em;
    padding: 0;
  }

  #root > section > div {
    grid-column: 2 / 4;
  }

  #root > section > h2 {
    grid-column: 2 / 4;
  }

  header {
    grid-column: 1 / 6;
    grid-template-columns: inherit;
  }

  header > nav {
    grid-column: 2 / 5;
  }

  main {
    grid-column: 2 / 5;
    grid-template-columns: 1fr;
  }

  main > section:last-of-type > div {
    grid-column: 1 / 2;
  }

  #root > section > div > h1 {
    font-size: 2em;
  }

  main[showcomments='true'] > section {
    grid-column: 1 / 3;
  }

  main > section > article {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  main[showcomments='true'] {
    height: 0;
    overflow: hidden;
  }

  main > ul,
  form,
  article {
    margin: 0;
    padding: 0;
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 1fr;
  }

  main > ul {
    grid-row-gap: 1em;
  }

  main > ul > li {
    background-color: white;
    box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, 0.15);
    border-collapse: initial;
    border-spacing: 0;
    list-style: none;
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: 1em auto 1em;
    grid-template-rows: 1em auto 1em;
  }

  main > ul > section {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  main > ul > li > article {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  aside {
    display: none;
  }

  aside > section {
    grid-row: 1 / 4;
  }

  aside > section > a {
    font-size: 2em;
  }

  aside > section[data-close] {
    display: grid;
    grid-column: 2 / 3;
  }

  aside > section[data-goback] {
    display: none;
  }

  aside[data-comments] {
    overflow: scroll;
    height: 100vh;
    grid-column: 1 / 6;
    grid-row-start: 1;
  }
}

@media (max-width: 64em) and (min-width: 40em) {
  #root {
    grid-template-columns: 0.4375em 4fr 3fr 3fr 0.4375em;
  }

  main > section {
    grid-column: 1 / 3;
  }

  header {
    grid-column: 1 / 6;
  }

  header > nav {
    grid-column: 2 / 5;
  }

  aside {
    grid-column: 4 / 5;
  }
}
